<!DOCTYPE html>
<head>
    <title>Gardener's Diary - [(${title})]</title>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/datepicker.min.css">
    <link rel="stylesheet" href="/css/jquery.toast.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
