<!DOCTYPE html>
<div id="plantInfo">
    <div id="loadingSpinner" class="spinner-donut"></div>
    <fieldset id="plantInfoInnerContainer">
        <button class="small" id="hidePlantInfoBtn"><i class="fa fa-window-close" aria-hidden="true"></i> Hide</button>
        <div id="plantInfoErrorContainer">
            <h3>Error</h3>
            <ul id="errors">
            </ul>
        </div>
        <legend>Plant information</legend>
        <p id="plantInformation">
        <ul>
            <li><strong>Description</strong>: <span id="plantInfoDesc"></span></li>
            <li><strong>Sun requirements</strong>: <span id="plantSunReq"></span></li>
            <li><strong>Sowing method</strong>: <span id="plantInfoSowingMeth"></span></li>
            <li><strong>Row spacing</strong>: <span id="plantInfoRowSpacing"></span></li>
            <li><strong>Height</strong>: <span id="plantInfoHeight"></span></li>
        </ul>
        </p>
    </fieldset>
</div>