<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl" th:replace="fragments/head :: head">
<body>
<div class="container">
    <header th:replace="fragments/header :: header">Header tag is loaded here</header>
    <div class="row">
        <h2>Import Garden</h2>
    </div>
    <div class="row" th:if="${upload_error} == true">
        <h3>Error with upload</h3>
        <p>
            Please make sure the file you uploaded is valid and that no fields are left empty.
        </p>
    </div>
    <div class="row">
        <form method="post" action="importgarden" enctype="multipart/form-data">
            <p>
                <label for="name">Name</label>
                <input id="name" type="text" name="name"/>
            </p>
            <p>
                <input type="file" id="file-input" name="file">
                <label for="file-input" class="button">Upload image file...</label>
            </p>
            <p>
                <input type="submit" value="Submit"/>
            </p>
        </form>
    </div>
</div>
</body>
</html>