<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="pl" th:replace="fragments/head :: head">
<body>
    <div class="container">
        <header th:replace="fragments/header :: header">Header tag is loaded here</header>
        <div class="row" th:if="${garden} == null">
            <p>There is currently no garden image within the system</p>
            <p><a href="/importgarden">Would you like to import one?</a></p>
        </div>
        <div class="row" th:if="${garden} != null">
            <img th:src="${garden.image}">
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h4><i class="fa fa-leaf" aria-hidden="true"> </i> Recently Planted<small>Your recently planted plants</small></h4>
                <p th:if="${recentPlants.empty}">
                    Currently no plants in the system.
                </p>
                <ul>
                    <li th:each="recentPlant : ${recentPlants}"><a href="/plant/view/${recentPlant.id}"><span th:text="${recentPlant.name}"></span></a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4><i class="fa fa-tasks" aria-hidden="true"> </i> Tasks<small>Your upcoming tasks</small></h4>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4><i class="fa fa-search" aria-hidden="true"> </i> Search for plant information<small>Conduct a search for gardening related plant information</small></h4>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group fluid">
                            <input type="text" id="plantType" placeholder="Plant type">
                            <button id="searchPlantsBtn"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div th:replace="fragments/plantinfo :: div">Plant info container is loaded here</div>
                </div>
            </div>
        </div>
    </div>
    <script
            src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/toast.js"></script>
    <script type="text/javascript" src="/js/plantinfo.js"></script>
</body>
</html>