<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="pl" th:replace="fragments/head :: head">
<body>
    <div class="container">
        <header th:replace="fragments/header :: header">Header tag is loaded here</header>
        <div class="row">
            <h2>Manage Plants</h2>
        </div>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <table class="scrollable">
                    <caption>Plants</caption>
                    <thead>
                    <tr>
                        <th>Plant</th>
                        <th>Type</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-label="Name">Tomato Left Corner</td>
                        <td data-label="PlantName">Tomato</td>
                        <td data-label="Edit"><i class="fa fa-pencil" aria-hidden="true"></i><input type="button" value="Edit"></td>
                        <td data-label="Delete"><i class="fa fa-trash" aria-hidden="true"></i><input type="button" value="Delete"></td></td>
                    </tr>
                    <tr>
                        <td data-label="Name">Cucumber 2</td>
                        <td data-label="PlantName">Cucumber</td>
                        <td data-label="Edit"><i class="fa fa-pencil" aria-hidden="true"></i><input type="button" value="Edit"></td>
                        <td data-label="Delete"><i class="fa fa-trash" aria-hidden="true"></i><input type="button" value="Delete"></td></td>
                    </tr>
                    <tr>
                        <td data-label="Name">Lettuce</td>
                        <td data-label="PlantName">Lettuce</td>
                        <td data-label="Edit"><i class="fa fa-pencil" aria-hidden="true"></i><input type="button" value="Edit"></td>
                        <td data-label="Delete"><i class="fa fa-trash" aria-hidden="true"></i><input type="button" value="Delete"></td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>