<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl" th:replace="fragments/head :: head">
<body>
<div class="container">
    <header th:replace="fragments/header :: header">Header tag is loaded here</header>
    <div class="structure" th:if="${error} != null">
        <h3>Error</h3>
        <p th:text="${error}"></p>
    </div>
    <div class="structure" th:if="${plant} != null">
        <div class="row">
            <h3>Viewing plant [[${plant.name}]]</h3>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <img src="http://via.placeholder.com/350x150">
            </div>
            <div class="col-sm-10">
                <h3>[[${plant.name}]] <button id="editPlantBtn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit plant</button></h3>
                <p><small><strong>Plant type</strong>: [[${plant.type}]]</small></p>
                <p><small><strong>Created</strong>: [[${plant.createdAt}]]</small></p>
                <p><small><strong>Updated</strong>: [[${plant.updatedAt}]]</small></p>
            </div>
        </div>
        <div class="row">
            <table class="scrollable sortable">
                <caption>Tasks associated with this plant <button id="openTaskModalBtn"><i class="fa fa-plus" aria-hidden="true"></i> Add new task</button></caption>
                <thead>
                <tr>
                    <th>Task name</th>
                    <th>Task type</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-label="Plant">Tomato Left Corner</td>
                    <td data-label="PlantType">Tomato</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <label for="modal-toggle"></label>
            <input id="modal-toggle" type="checkbox"/>
            <div class="modal">
                <div class="card">
                    <label for="modal-toggle" class="close"></label>
                    <h3 class="section">Edit plant</h3>
                    <fieldset>
                        <legend>Edit [[${plant.name}]]</legend>
                        <div id="errorContainer">
                            <h3>Error</h3>
                            <ul id="errors">
                                <li>Please make sure that both plant name and plant type fields are filled in.</li>
                            </ul>
                        </div>
                        <input type="hidden" id="plantId" th:value="${plant.id}"/>
                        <div class="input-group fluid">
                            <label for="plantName">Plant name</label>
                            <input type="text" th:value="${plant.name}" id="plantName" placeholder="Plant name">
                        </div>
                        <div class="input-group fluid">
                            <label for="plantType">Plant type</label>
                            <input type="text" th:value="${plant.type}" id="plantType" placeholder="Plant type">
                        </div>
                        <p class="secondary" id="plantFormStatus"></p>
                        <p><i class="fa fa-search" aria-hidden="true"></i><input type="submit" id="searchPlantsBtn" value="Search for plant information"></p>
                        <p><i class="fa fa-pencil" aria-hidden="true"></i></i><input type="submit" id="updatePlantBtn" value="Update plant"></p>
                    </fieldset>
                    <fieldset>
                        <legend>Plant information</legend>
                        <p id="plantInformation">
                        <ul>
                            <li><strong>Description</strong>:</li>
                            <li><strong>Sun requirements</strong>:</li>
                            <li><strong>Sowing method</strong>:</li>
                            <li><strong>Row spacing</strong>:</li>
                            <li><strong>Height</strong>:</li>
                        </ul>
                        </p>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/jquery.toast.min.js"></script>
<script type="text/javascript" src="/js/plant.js"></script>
<script type="text/javascript" src="/js/toast.js"></script>
</body>
</html>