<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl" th:replace="fragments/head :: head">
<body>
<div class="container">
    <header th:replace="fragments/header :: header">Header tag is loaded here</header>
    <div class="structure" th:if="${error} != null">
        <h3>Error</h3>
        <p th:text="${error}"></p>
    </div>
    <div class="structure" th:if="${plant} != null">
        <div class="row">
            <h3>Viewing plant [[${plant.name}]]</h3>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div id="loadingSpinnerImage" class="spinner-donut"></div>
                <img id="plantImage">
            </div>
            <div class="col-sm-10">
                <h3>[[${plant.name}]] <button id="editPlantBtn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit plant</button><button id="deletePlantBtn"><i class="fa fa-trash" aria-hidden="true"></i> Delete plant</button></h3>
                <p><small><strong>Plant type</strong>: [[${plant.type}]]</small></p>
                <p><small><strong>Created</strong>: [[${plant.createdAt}]]</small></p>
                <p><small><strong>Updated</strong>: [[${plant.updatedAt}]]</small></p>
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <input type="checkbox" id="completedFilterCheckbox" tabindex="0">
                <label for="completedFilterCheckbox">Show completed and uncompleted tasks </label>
            </div>
            <table id="tasksTable" class="scrollable sortable">
                <caption>Tasks <button id="openTaskModalBtn"><i class="fa fa-plus" aria-hidden="true"></i> Add new task</button> <a href="/tasktypes" class="button"><i class="fa fa-list"></i> Manage task types</a></caption>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="row">
            <label for="modal-toggle"></label>
            <input id="modal-toggle" type="checkbox"/>
            <div class="modal">
                <div class="card">
                    <label for="modal-toggle" class="close"></label>
                    <h3 class="section">Edit plant</h3>
                    <fieldset>
                        <legend>Edit [[${plant.name}]]</legend>
                        <div id="errorContainer">
                            <h3>Error</h3>
                            <ul id="errors">
                                <li>Please make sure that both plant name and plant type fields are filled in.</li>
                            </ul>
                        </div>
                        <input type="hidden" id="plantId" th:value="${plant.id}"/>
                        <div class="input-group fluid">
                            <label for="plantName">Plant name</label>
                            <input type="text" th:value="${plant.name}" id="plantName" placeholder="Plant name">
                        </div>
                        <div class="input-group fluid">
                            <label for="plantType">Plant type</label>
                            <input type="text" th:value="${plant.type}" id="plantType" placeholder="Plant type">
                        </div>
                        <p class="secondary" id="plantFormStatus"></p>
                        <p><i class="fa fa-search" aria-hidden="true"></i><input type="submit" id="searchPlantsBtn" value="Search for plant information"></p>
                        <p><i class="fa fa-pencil" aria-hidden="true"></i></i><input type="submit" id="updatePlantBtn" value="Update plant"></p>
                    </fieldset>
                    <div th:replace="fragments/plantinfo :: div">Plant info container is loaded here</div>
                </div>
            </div>
        </div>
        <div class="row">
            <input id="delete-modal-toggle" type="checkbox"/>
            <div class="modal" role="dialog">
                <div class="card">
                    <label for="delete-modal-toggle" class="close"></label>
                    <h3 class="section">Are you sure you want to delete the plant [[${plant.name}]]?</h3>
                    <p class="section">Deleting this plant will <strong>permanently</strong> delete this plant from the system and any associated tasks.</p>
                    <button id="deletePlantConfirmBtn" class="secondary"><i class="fa fa-trash" aria-hidden="true"></i> Delete plant</button>
                </div>
            </div>
        </div>
        <div class="row">
            <label for="show-task-modal-toggle"></label>
            <input id="show-task-modal-toggle" type="checkbox"/>
            <div class="modal">
                <div class="card">
                    <label for="show-task-modal-toggle" class="close"></label>
                    <h3 class="section">Add task</h3>
                    <fieldset>
                        <legend>Add task for [[${plant.name}]]</legend>
                        <div id="addTaskErrorContainer">
                            <h3>Error</h3>
                            <ul id="addTaskErrors">
                                <li>Please make sure that all the fields are filled in.</li>
                                <li>Please ensure that the due date is not in the past.</li>
                            </ul>
                        </div>
                        <input type="hidden" id="addTaskPlantId" th:value="${plant.id}"/>
                        <div class="row label-aligned">
                            <div class="input-group fluid">
                                <label for="taskName">Task name</label>
                                <input type="text" id="taskName" placeholder="Task name">
                            </div>
                            <div class="input-group fluid">
                                <label for="taskType">Task type</label>
                                <select id="taskType">
                                </select>
                            </div>
                            <div class="input-group fluid">
                                <label for="dueDate">Due date</label>
                                <input type="date" id="dueDate"/>
                            </div>
                            <div class="input-group fluid">
                                <input type="checkbox" id="emailReminder" tabindex="0">
                                <label for="emailReminder">Allow email reminders</label>
                            </div>
                        </div>
                        <p><i class="fa fa-plus" aria-hidden="true"></i><input type="submit" id="addTaskForPlantButton" value="Add task for plant"></p>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="row">
            <input id="complete-task-modal-toggle" type="checkbox"/>
            <div class="modal" role="dialog">
                <div class="card">
                    <label for="complete-task-modal-toggle" class="close"></label>
                    <h3 class="section">Are you sure you want to mark this task as completed?</h3>
                    <p class="section">Marking this task as completed will give this task the status of "completed".</p>
                    <button id="completeTaskConfirmBtn" class="tertiary"><i class="fa fa-check" aria-hidden="true"></i> Complete task</button>
                </div>
            </div>
        </div>
        <div class="row">
            <input id="incomplete-task-modal-toggle" type="checkbox"/>
            <div class="modal" role="dialog">
                <div class="card">
                    <label for="incomplete-task-modal-toggle" class="close"></label>
                    <h3 class="section">Are you sure task as incomplete?</h3>
                    <p class="section">Marking this task as incomplete will give this task the status of "incomplete".</p>
                    <button id="incompleteTaskConfirmBtn"><i class="fa fa-minus" aria-hidden="true"></i> Mark as incomplete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="/js/jquery-3.2.1.min.js"></script>
<script th:inline="javascript">
    var plantType = /*[[${plant.type}]]*/ null;
    var plantId = /*[[${plant.id}]]*/ null;
</script>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/jquery.toast.min.js"></script>
<script type="text/javascript" src="/js/plant.js"></script>
<script type="text/javascript" src="/js/planttasks.js"></script>
<script type="text/javascript" src="/js/toast.js"></script>
<script type="text/javascript" src="/js/plantinfo.js"></script>
</body>
</html>